<div class="container">
  <section class="about">
    <h1>About StrengthZone</h1>
    <p>
      At StrengthZone, we are passionate about helping you achieve your fitness
      goals by providing top-notch gym supplements and equipment. We understand
      that your journey towards a stronger and healthier you requires the right
      tools, and that's where we come in.
    </p>
  </section>
  <section class="mission">
    <img
      src="../../../assets/about1.jpg"
      alt="sec"
    />
    <div>
      <h2>What is our misssion?</h2>
      <p>
        Our mission is to be your ultimate resource for all things
        fitness-related. Whether you're an experienced athlete or just starting
        your fitness journey, we have carefully curated a wide range of
        premium-quality supplements and equipment to meet your specific needs.
        We believe that everyone deserves access to the best tools available to
        maximize their potential and achieve outstanding results.
      </p>
    </div>
  </section>

  <section class="motivation">
    <div>
    <h2>Why choose us?</h2>
    <p>
      Why choose StrengthZone? We pride ourselves on offering only the
      highest-quality products from reputable brands that have been thoroughly
      tested and proven effective. We understand that when it comes to your
      body, you deserve nothing but the best. That's why we ensure that all our
      supplements are made with the finest ingredients, formulated to provide
      the nutrients and support your body needs to excel.
    </p>
</div>
    <img src="../../../assets/about2.jpg" alt="">
  </section>
</div>
