<div class="container">
  <form class="register" #form="ngForm">
    <fieldset>
      <h2>Sign Up</h2>

      <div class="input">
        <label for="username">Name</label>
        <input
          type="text"
          name="username"
          id="username"
          placeholder="John"
          [(ngModel)]="name"
          required
          #InputName
          (blur)="onFieldBlur('name')"
        />
        <div class="red" *ngIf="isFieldInvalid('name')">Name should contain letters only.</div>
      </div>

      <div class="input">
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="johnhanks@gmail.com"
          [(ngModel)]="email"
          required
          #InputEmail
          (blur)="onFieldBlur('email')"
        />
        <div class="red" *ngIf="isFieldInvalid('email')">Invalid email format.</div>
      </div>

      <div class="input">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="password"
          [(ngModel)]="password"
          required
          #InputPass
          (blur)="onFieldBlur('password')"
        />
        <div class="red" *ngIf="isFieldInvalid('password')">Password should be at least 6 characters long.</div>
      </div>

      <div class="input">
        <label for="rePassword">Confirm password</label>
        <input
          type="password"
          name="rePassword"
          id="rePassword"
          placeholder="password"
          ngModel
          required
          #InputRePass
        />
      </div>
      <button (click)="OnSignUp(InputName, InputEmail, InputPass, InputRePass)">Sign Up</button>

      <p class="text-center">
        Have an account?
        <a routerLink="/signin">Log In</a>
      </p>
    </fieldset>
  </form>
</div>
