.faq{
    font-family: Arial, sans-serif;
    line-height: 1.5;
    padding: 1.3em;


  }

  .faq h1 {
    text-align: center;
    margin-bottom: 2.4em;
    color: #333;
  }

 .faq h3 {
    color: #333;
    margin-bottom: 0.8em;
  }

  .faq p {
    margin-bottom: 1.4em;
    font-size: 1em	;
 
  }
  .container{
   background-color: rgb(226, 229, 238);
  }
  
 