ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   vertical-align: baseline;
  
   
}
li{
    list-style: none;
    display: inline-block;
    margin-right: 2em;
}
a{
    text-decoration: none;
    color: rgb(9, 14, 14);
}

.head a:hover{
text-decoration: underline;
}

ul{
    display: inline-block;

}
nav{
    justify-content: space-between;
  
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 2px solid black;
    padding-left: 1em;
    background-color: rgb(227, 229, 231);
    

}
.auth{
    float: right;
}
.auth li {
    background-color: rgb(24, 92, 251);
    color: white;
    padding: 0.4em;
    border-radius: 0.2em;
   
    
}
.auth li:hover{
    background-color: rgb(224, 219, 219);
   a{
    color: black
   }
   cursor: pointer;
}
.auth a{
    color: white;
}
.home{
    padding: 0.3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:large ;
    font-weight: 600;
    box-shadow: -3px 7px 14px -4px rgba(0,0,0,0.75);
}

