ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
li{
    list-style: none;
    display: inline-block;
    margin-right: 2em;
}
a{
    text-decoration: none;
    color: rgb(9, 14, 14);
}
a:hover{
text-decoration: underline;
}


ul{
    display: inline-block;
    
}
nav{
    justify-content: space-between;
}
.auth{
    float: right;
}
.auth li {
    background-color: black;
    color: white;
    padding: 0.4em;
}
.auth a{
    color: white;
}