<nav>
    <a class="home" href="">StrengthZone</a>
    <ul class="head">
        <li><a routerLink="/about" >About</a></li>      
        <li><a routerLink="/equipment">Equipment</a></li>
        <li><a href="/suppliments">Suppliments</a></li>
        <li><a href="/contacts">Contacts</a></li>
        <li><a href="/support">Support</a></li>
    </ul>
    <ul class="auth">
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/register">Register</a></li>
    </ul>
   
</nav>

