.shop{
    display: flex;
    justify-content: center;
}
.shop button{
   
   
    margin: 1em;
    padding: 0.6em;
    border-radius: 0.5em;
    width: 30%;
}
.shop button:hover{
    cursor: pointer;
   
}
h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.equip{
    background-color: black;
    color: white;
   
}
.equip:hover{
    background-color: white;
    color: black;
}
.supp{
    background-color: rgb(223, 216, 216);
}
.supp:hover{
    color: white;
    background-color: rgb(82, 78, 78);
}

article {
    display: flex;
button{
    background-color: rgb(236, 158, 13);
    color: white;
    padding: 0.4em;
    
}
button:hover{
    background-color: black;
}
a{
    text-decoration: none;
    color: white;
}


img{
    max-width: 20%;
 
}
div{
    
    padding-left: 1em;
}

border: 1px solid black;
padding: 0.4em;
max-width: 95%;
margin-bottom: 2em;


font-family:Verdana, Geneva, Tahoma, sans-serif
}
.articles{
    margin-left: 1em;
}