<div class="cart-container">
    <h2>Your Cart</h2>
    <div class="cart-items">
      <ng-container *ngIf="list.length > 0; else emptyCart">
        <div class="cart-item" *ngFor="let item of list">
          <span class="item-name">{{ item.Name }}</span>
          <span class="item-price">{{ item.Price }} €</span>
        </div>
      </ng-container>
      <ng-template #emptyCart>
        <p>Your cart is empty.</p>
      </ng-template>
    </div>
    <div class="cart-total">
      <span>Total:</span>
      <span class="total-amount">{{total}} €</span>
    </div>
   

    <div class="check">
      <button routerLink="/checkout">Check Out</button>
    </div>
  </div>