.cart-container {
    padding: 2em;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    margin-bottom: 20em;
  
    h2 {
      margin-bottom: 1em;
    }
  
    .cart-items {
      .cart-item {
        display: flex;
        justify-content: space-between;
        padding: 0.2em 0;
  
        .item-name {
          flex: 1;
          font-weight: bold;
        }
  
        .item-price {
          flex: 0 0 8em;
        }
      }
    }
  
    .cart-total {
      display: flex;
      justify-content: space-between;
      margin-top: 1.2em;
      font-weight: bold;
  
      .total-amount {
        flex: 0 0 8em;
      }
    }
  }
  .check{
    margin-top: 4em;
    padding: 1em;
    button{
      padding: 1em;
      width: 20%;
      float: right;
      background-color:  #007bff;
      color: white;
    }
    button:hover{
     
      background-color: white;
      color: black;
      cursor: pointer;
    }
  }