img{
  max-width: 400px;
  max-height: 400px;
  height: 60%;

}

.container{
    margin: 1em;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
    gap: 4em;
    margin-top: 4em;
    margin-bottom: 4em;
    margin-left: 2em;
   justify-content: space-between;
    
    
   


}
.card{
    display: flex;
    flex-direction: column;
   width: 23em;
   
    transition: transform .2s;
    button{
       float: right;
       margin-right: 2em;
       padding: 0.4em;
       background-color: orange;
       color: white;
       margin-bottom: 1em;
    }
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);;
    div{
        margin-left: 1em;
    }
    button:hover{
        background-color: white;
        color: black;
        cursor: pointer;
    }
}
.card:hover{
    transform: scale(1.1);
}

@media(width<  500px){
    
    .container{
        flex-direction: column;
        width: 100%;
        .card{
            max-width: 90%;
        }
    }
  }
  @media(width<  850px){
    
    .container{
        flex-direction: column;
        width: 100%;
        .card{
            max-width: 100%;
          
        }
       
    }
  }
    @media(width < 400px){
        .card{
            margin-left: 0em;
        }
        .container{
            margin-left: 0em;
        }
    }
    @media(width < 1280px){
        .container{
          
           display: grid;
           grid-template-columns: 1fr 1fr;
           margin-left: 4em;
        }
    }
    @media(width < 900px){
        .container{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
    @media(width < 400px){
        .card{
            margin-left: 0em;
        }
        .container{
            max-width: 80%;
            margin-left: 2em;
        }
    }
  