<div class="container">
   <section>
    <h1>This is how you can reach us:</h1>
    <h3>Woking time:</h3>
 <ul class="working-time">
    <li>Monday-Friday: 8:00 - 18:00</li>
    <br>
    <li>Satarday&Sunday: 9:00 - 16:00</li>
 </ul>
 <h3>Contacts:</h3>
 <ul>
    <li class="under">Make a call on:</li>
    
    <li>+359 88 428 0939</li>
    <li>+359 77 431 9831</li>
    <br>
    <li class="under">Write an email:</li>
   
    <li>strengthzone@sz.com</li>
 </ul>
</section>  

<section>
    <fieldset>
 <legend>  <h3>Send us a message:</h3> </legend> 
    <form >
        
        <div>
            <label for="">Name</label>
<input type="text">
        </div>
        <div>
            <label for="">Surname</label>
<input type="text" >
        </div>

        <section class="centre">
           <label for="">Subject:</label>
           <input type="text">
        </section>

        <section>
            <label for="">Message:</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </section>
       
  <button type="submit">Send</button>

    </form>
</fieldset>
</section>
<div class="adress">
    <h3>Our adress:</h3>
    <ul>
        <li>Sofia,Centre</li>
        <li>bul."Tsar Liberator"№7</li>
        <li>Post code: 1799</li>
       
    </ul>
    </div>

    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1466.2428987434182!2d23.332549278464892!3d42.693433394902456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa857420695a71%3A0xa8c0a8991ef7f3e2!2z0LHRg9C7LiDigJ7QptCw0YAg0J7RgdCy0L7QsdC-0LTQuNGC0LXQu-KAnCwgMTAwMCDQodC-0YTQuNGPINGG0LXQvdGC0YrRgCwg0KHQvtGE0LjRjw!5e0!3m2!1sbg!2sbg!4v1689283274914!5m2!1sbg!2sbg" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
       </div>
</div>

