.container {
   max-width: 70%;
    
    padding: 1.2em;
    border-right: 1px solid black;
}

.item-details {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1em;
}

h2 {
    font-size: 2em;
    margin-bottom: 0.7em;
}

p {
    font-size: 2em;
    margin-bottom: 8px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
button:hover{
    background-color: white;
    color: black;
}

.others{
    max-width: 30%;
   float: right;
   padding-left: 4em;
   align-self: center;
  
img{
    max-width: 30%;
    transform-origin: 0 0;
 

}

.product{
    margin-top: 5em;
    transition: transform .2s;
    margin-left: 6em;
   
}
h2{
    margin-left: 4em;
}
.product:hover{
    transform: scale(1.1);
    cursor: pointer;
}
}


.bigcontainer{
    width: 100%;
   
  
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}



.container {
   width: 60%;
 
    padding: 1.2em;
   border-right: 1px solid black;
   
   
}
@media(width < 1500px){
    .others{
        padding-left: 2em;
    }
}
@media(width < 850px){
    .others{
        padding-left: 0em;
        max-width: 40%;
        h2{
            margin-left: 2em;
        }
    }
    .container{
        h2{
            font-size: 1.5em;
        }
        p{
            font-size: 1.1em;
        }
        max-width: 60%;
        
    }
    .product{
        margin-left: 2em;
    }
    
}
@media(width < 520px){
    .product{
        margin-left: 0em;
    }
    .others{
        h2{
            margin-left: 1em;
        }
    }
}
