<div class="bigcontainer">

<div class="container">
    <div class="item-details" *ngIf="item">
        <img [src]="Photo(item)" alt="Product Image">
        <h1>{{item.Name}}</h1>
        <p>Brand: {{item.brand}}</p>
        <p>Description: {{item.Description}}</p>
        <p>{{item.grams}}g</p>
        <p>Price: {{item.Price}} €</p>
        <button (click)="Add(item)">Add to Cart</button>
        <div *ngIf="Added">
            <p class="green"> Added to cart !</p>  
        </div>
       
    </div>
</div>

<div class="others">
    <h2>Other products:</h2>
    <section class="product" *ngFor="let product of products">
        
        <div (click)="Nav(product._id)" >
        <img [src]="Photo(product)" alt="Product Image">
        <h3>{{product.Name}}</h3>
    </div>
    </section>
</div>

</div>